numpy
six
toolz
cloudpickle
matplotlib
sacremoses
scipy
future
cython
keras_applications
keras_preprocessing
sklearn
git+https://github.com/MarcBS/keras#egg=keras
-e git+https://github.com/lvapeab/coco-caption.git#egg=coco-caption
pytest
pytest-cache
pytest-cov
pytest-forked
pytest-pep8
pytest-xdist
tables